// TODO: 1. Доверстать страницу

// Import vars
@import "_vars.sass"




// Null padding and margin of all elements
*
  margin: 0
  padding: 0


// Setting up body fonts
body
  font-family: $light_font
  color: $font_color
  a
    transition: .3s


// Top top mobile title
.top_top_mobile_title
  background-color: $top_top_mobile_panel_color
  text-align: center
  padding: 3px 0
  h4
    font-family: $light_font
    font-size: 14px
    color: #000
    margin: 0


// Editing bootstrap menu
.navbar
  padding: 0
.navbar-toggler
  border: none
  position: static
  padding: 0
  margin: 8px 0
  p
    display: inline-block
    font-family: $medium_font
    text-transform: uppercase
    margin-bottom: 0
.navbar-nav
  padding: 0
  margin-bottom: 15px
.nav-item
  .nav-link
    font-family: $medium_font
    font-size: 13.5px
.nav-item.active
  .nav-link
    color: $accent_color_1 !important


// Top panel
.top_logo_link
  color: inherit
  &:hover
    color: inherit
    text-decoration: none
.top_panel
  padding: 8px 0
  background-color: $top_panel_color
  border-bottom: 1px solid #cdcfd1
.logo
  display: inline-block
  .logo_title, .logo_subtitle
    display: inline-block
    margin: 0
  .logo_title
    font-family: $black_italic_font
    span
      color: $accent_color_1
  .logo_subtitle
    font-family: $light_font
    font-size: 10.5px


// Login form
.login_form
  input
    width: 150px !important
    height: 30px
    border-radius: 1px
  #password_forgot
    position: absolute
    top: 26px
    right: 0
    a
      color: $accent_color_1
      border-bottom: 1px dashed $accent_color_1
      &:hover
        text-decoration: none
        border-bottom: 1px solid $accent_color_1
  .btn_own
    line-height: .9
    width: 95px
    cursor: pointer


// Header + header items
header
  background-image: url("../img/header_bg.png")
  background-size: cover
  background-position: center
  .overlay_header
    background-color: $overlay_header_color
    padding: 30px 0
// Main header title
h1
  text-transform: uppercase
  text-align: center
  font-family: $medium_font
  font-size: 27px
  margin-bottom: 20px
  padding: 20px
  background-color: $overlay_h1_color
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 52% 100%, 0 80%)
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 52% 100%, 0 80%)
// Header main cards
.square_header_card
  border: 5px solid #fff
  color: #fff
  font-size: 18px
  height: 260px
  width: 260px
  margin-bottom: 15px
  text-align: center
  h3
    font-family: $medium_font
    font-size: 18px
    margin-top: 15px
    margin-bottom: 35px
  .header_card_adventure_list
    font-family: $light_font
    list-style-type: none
    .header_card_adventure
      margin: 7px 0
      &:last-child
        &::after
          content: none
  .btn_own
    margin-top: 20px


// Security section
section#security
  background-color: $muted_bg
  padding: 10px 0
  margin: 15px 0
  font-family: $light_font
  .security_title
    width: 250px
    margin: auto
  .underlined_separator
    &::after
      background-color: #dbdbdb
      left: 20%
      top: 6px
  img
    margin-right: 10px
  a
    text-decoration: none
    font-size: 13.5px
    color: $security_color
    border-bottom: 1px dotted $security_color
    &:hover
      border-bottom: 1px solid $security_color


// Customers' bullets section
section#customer_bullets
.round_bullet
  width: 200px
  height: 200px
  background-color: $accent_color_2
  border-radius: 50%
  margin: 30px 15px 40px 15px
  padding: 25px 15px 0 15px
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75)
  background: rgb(51,170,254)
  background: -moz-linear-gradient(top,  rgba(51,170,254,1) 35%, rgba(255,255,255,1) 35%)
  background: -webkit-linear-gradient(top,  rgba(51,170,254,1) 35%,rgba(255,255,255,1) 35%)
  background: linear-gradient(to bottom,  rgba(51,170,254,1) 35%,rgba(255,255,255,1) 35%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33aafe', endColorstr='#ffffff',GradientType=0 )
  // Bullet arrows
  &:first-child
    ul
      margin: 35px 0
    &::before
      content: url('../img/bullet_arrow_top.png')
      position: absolute
      left: 37.5%
      top: 18%
      @media (max-width: 1199px)
        left: 35%
      @media (max-width: 991px)
        left: 30%
      @media (max-width: 767px)
        left: 44%
        top: 10%
      @media (max-width: 490px)
        content: url('../img/bullet_arrow_straight.png')
        top: 33.5%
        left: 48%
  &:last-child
    &::before
      content: url('../img/bullet_arrow_bottom.png')
      position: absolute
      right: 37.5%
      bottom: 9%
      @media (max-width: 1199px)
        right: 35%
      @media (max-width: 991px)
        right: 30%
      @media (max-width: 767px)
        content: url('../img/bullet_arrow_top.png')
        transform: rotate(125deg)
        bottom: 46%
        left: 71%
      @media (max-width: 490px)
        content: url('../img/bullet_arrow_straight.png')
        transform: none
        top: 65.5%
        left: 30%
  h3
    color: #fff
    font-family: $medium_font
    font-size: 15px
    margin-bottom: 25px
    padding: 0 15px
  ul
    list-style-type: none
    font-family: $light_font
    font-size: 12px
    margin: -5px
    li
      margin: 3px 0
      &::after
        background-color: $accent_color_2
        top: 1px
        left: 29%
        width: 75px
      &:last-child
        &::after
          content: none


// Buttons
.btn_own
  font-family: $medium_font
  font-size: 13.5px
  color: #fff
  border: 1px solid rgba(0,0,0,.01)
  border-radius: 1px
  &:hover, &:visited
    color: #fff
.btn--accent1
  background-image: -moz-linear-gradient( 90deg, rgb(243,158,9) 0%, rgb(248,192,94) 100%)
  background-image: -webkit-linear-gradient( 90deg, rgb(243,158,9) 0%, rgb(248,192,94) 100%)
  background-image: -ms-linear-gradient( 90deg, rgb(243,158,9) 0%, rgb(248,192,94) 100%)
  &:hover
    background-image: -moz-linear-gradient( 90deg, rgb(243,158,9) 60%, rgb(248,192,94) 100%)
    background-image: -webkit-linear-gradient( 90deg, rgb(243,158,9) 60%, rgb(248,192,94) 100%)
    background-image: -ms-linear-gradient( 90deg, rgb(243,158,9) 60%, rgb(248,192,94) 100%)
.btn--accent2
  background-image: -moz-linear-gradient( 90deg, rgb(0,149,254) 0%, rgb(130,209,255) 100%)
  background-image: -webkit-linear-gradient( 90deg, rgb(0,149,254) 0%, rgb(130,209,255) 100%)
  background-image: -ms-linear-gradient( 90deg, rgb(0,149,254) 0%, rgb(130,209,255) 100%)
  &:hover
    background-image: -moz-linear-gradient( 90deg, rgb(0,149,254) 60%, rgb(130,209,255) 100%)
    background-image: -webkit-linear-gradient( 90deg, rgb(0,149,254) 60%, rgb(130,209,255) 100%)
    background-image: -ms-linear-gradient( 90deg, rgb(0,149,254) 60%, rgb(130,209,255) 100%)

  
// Underline separator
.underlined_separator
  &::after
    content: ''
    display: block
    background-color: #fff
    width: 150px
    height: 1px
    position: relative
    left: 20%
    top: 4px
// Titles
h2.light
  font-family: $light_font
  font-size: 18px
// Text align center
section
  text-align: center
// Top border on sections
.top_border_section
  margin-top: 30px
  border-top: 2px solid $accent_color_2
  h2
    position: relative
    bottom: 11px
    background-color: #fff
    display: inline-block
    width: 280px


// Desktop version
@media (min-width: $mobile)
  .navbar-nav
    width: 100%
    margin: 10px 0
  .top_panel
    padding: 25px 0
  header
    .header_card_row
      padding: 0 15%
@media (max-width: $tablet)
  header
    .header_card_row
      padding: 0
