@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.otf"); }

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf"); }

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.otf"); }

@font-face {
  font-family: "HelveticaNeueCyr-BlackItalic";
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.otf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "HelveticaNeueCyr-Light";
  color: #000000; }
  body a {
    transition: .3s; }

.top_top_mobile_title {
  background-color: #e3e3e3;
  text-align: center;
  padding: 3px 0; }
  .top_top_mobile_title h4 {
    font-family: "HelveticaNeueCyr-Light";
    font-size: 14px;
    color: #000;
    margin: 0; }

.navbar {
  padding: 0; }

.navbar-toggler {
  border: none;
  position: static;
  padding: 0;
  margin: 8px 0; }
  .navbar-toggler p {
    display: inline-block;
    font-family: "HelveticaNeueCyr-Medium";
    text-transform: uppercase;
    margin-bottom: 0; }

.navbar-nav {
  padding: 0;
  margin-bottom: 15px; }

.nav-item .nav-link {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 13.5px; }

.nav-item.active .nav-link {
  color: #f39e09 !important; }

.top_logo_link {
  color: inherit; }
  .top_logo_link:hover {
    color: inherit;
    text-decoration: none; }

.top_panel {
  padding: 8px 0;
  background-color: #f6f4f5;
  border-bottom: 1px solid #cdcfd1; }

.logo {
  display: inline-block; }
  .logo .logo_title, .logo .logo_subtitle {
    display: inline-block;
    margin: 0; }
  .logo .logo_title {
    font-family: "HelveticaNeueCyr-BlackItalic"; }
    .logo .logo_title span {
      color: #f39e09; }
  .logo .logo_subtitle {
    font-family: "HelveticaNeueCyr-Light";
    font-size: 10.5px; }

.login_form input {
  width: 150px !important;
  height: 30px;
  border-radius: 1px; }

.login_form #password_forgot {
  position: absolute;
  top: 26px;
  right: 0; }
  .login_form #password_forgot a {
    color: #f39e09;
    border-bottom: 1px dashed #f39e09; }
    .login_form #password_forgot a:hover {
      text-decoration: none;
      border-bottom: 1px solid #f39e09; }

.login_form .btn_own {
  line-height: .9;
  width: 95px;
  cursor: pointer; }

header {
  background-image: url("../img/header_bg.png");
  background-size: cover;
  background-position: center; }
  header .overlay_header {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 0; }

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 27px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.149);
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 52% 100%, 0 80%);
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 52% 100%, 0 80%); }

.square_header_card {
  border: 5px solid #fff;
  color: #fff;
  font-size: 18px;
  height: 260px;
  width: 260px;
  margin-bottom: 15px;
  text-align: center; }
  .square_header_card h3 {
    font-family: "HelveticaNeueCyr-Medium";
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 35px; }
  .square_header_card .header_card_adventure_list {
    font-family: "HelveticaNeueCyr-Light";
    list-style-type: none; }
    .square_header_card .header_card_adventure_list .header_card_adventure {
      margin: 7px 0; }
      .square_header_card .header_card_adventure_list .header_card_adventure:last-child::after {
        content: none; }
  .square_header_card .btn_own {
    margin-top: 20px; }

section#security {
  background-color: #f6f5f5;
  padding: 10px 0;
  margin: 15px 0;
  font-family: "HelveticaNeueCyr-Light"; }
  section#security .security_title {
    width: 250px;
    margin: auto; }
  section#security .underlined_separator::after {
    background-color: #dbdbdb;
    left: 20%;
    top: 6px; }
  section#security img {
    margin-right: 10px; }
  section#security a {
    text-decoration: none;
    font-size: 13.5px;
    color: #17a425;
    border-bottom: 1px dotted #17a425; }
    section#security a:hover {
      border-bottom: 1px solid #17a425; }

.round_bullet {
  width: 200px;
  height: 200px;
  background-color: #33aafe;
  border-radius: 50%;
  margin: 30px 15px 40px 15px;
  padding: 25px 15px 0 15px;
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  background: #33aafe;
  background: -moz-linear-gradient(top, #33aafe 35%, white 35%);
  background: -webkit-linear-gradient(top, #33aafe 35%, white 35%);
  background: linear-gradient(to bottom, #33aafe 35%, white 35%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33aafe', endColorstr='#ffffff',GradientType=0 ); }
  .round_bullet:first-child ul {
    margin: 35px 0; }
  .round_bullet:first-child::before {
    content: url("../img/bullet_arrow_top.png");
    position: absolute;
    left: 37.5%;
    top: 18%; }
    @media (max-width: 1199px) {
      .round_bullet:first-child::before {
        left: 35%; } }
    @media (max-width: 991px) {
      .round_bullet:first-child::before {
        left: 30%; } }
    @media (max-width: 767px) {
      .round_bullet:first-child::before {
        left: 44%;
        top: 10%; } }
    @media (max-width: 490px) {
      .round_bullet:first-child::before {
        content: url("../img/bullet_arrow_straight.png");
        top: 33.5%;
        left: 48%; } }
  .round_bullet:last-child::before {
    content: url("../img/bullet_arrow_bottom.png");
    position: absolute;
    right: 37.5%;
    bottom: 9%; }
    @media (max-width: 1199px) {
      .round_bullet:last-child::before {
        right: 35%; } }
    @media (max-width: 991px) {
      .round_bullet:last-child::before {
        right: 30%; } }
    @media (max-width: 767px) {
      .round_bullet:last-child::before {
        content: url("../img/bullet_arrow_top.png");
        transform: rotate(125deg);
        bottom: 46%;
        left: 71%; } }
    @media (max-width: 490px) {
      .round_bullet:last-child::before {
        content: url("../img/bullet_arrow_straight.png");
        transform: none;
        top: 65.5%;
        left: 30%; } }
  .round_bullet h3 {
    color: #fff;
    font-family: "HelveticaNeueCyr-Medium";
    font-size: 15px;
    margin-bottom: 25px;
    padding: 0 15px; }
  .round_bullet ul {
    list-style-type: none;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 12px;
    margin: -5px; }
    .round_bullet ul li {
      margin: 3px 0; }
      .round_bullet ul li::after {
        background-color: #33aafe;
        top: 1px;
        left: 29%;
        width: 75px; }
      .round_bullet ul li:last-child::after {
        content: none; }

.btn_own {
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 13.5px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 1px; }
  .btn_own:hover, .btn_own:visited {
    color: #fff; }

.btn--accent1 {
  background-image: -moz-linear-gradient(90deg, #f39e09 0%, #f8c05e 100%);
  background-image: -webkit-linear-gradient(90deg, #f39e09 0%, #f8c05e 100%);
  background-image: -ms-linear-gradient(90deg, #f39e09 0%, #f8c05e 100%); }
  .btn--accent1:hover {
    background-image: -moz-linear-gradient(90deg, #f39e09 60%, #f8c05e 100%);
    background-image: -webkit-linear-gradient(90deg, #f39e09 60%, #f8c05e 100%);
    background-image: -ms-linear-gradient(90deg, #f39e09 60%, #f8c05e 100%); }

.btn--accent2 {
  background-image: -moz-linear-gradient(90deg, #0095fe 0%, #82d1ff 100%);
  background-image: -webkit-linear-gradient(90deg, #0095fe 0%, #82d1ff 100%);
  background-image: -ms-linear-gradient(90deg, #0095fe 0%, #82d1ff 100%); }
  .btn--accent2:hover {
    background-image: -moz-linear-gradient(90deg, #0095fe 60%, #82d1ff 100%);
    background-image: -webkit-linear-gradient(90deg, #0095fe 60%, #82d1ff 100%);
    background-image: -ms-linear-gradient(90deg, #0095fe 60%, #82d1ff 100%); }

.underlined_separator::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 150px;
  height: 1px;
  position: relative;
  left: 20%;
  top: 4px; }

h2.light {
  font-family: "HelveticaNeueCyr-Light";
  font-size: 18px; }

section {
  text-align: center; }

.top_border_section {
  margin-top: 30px;
  border-top: 2px solid #33aafe; }
  .top_border_section h2 {
    position: relative;
    bottom: 11px;
    background-color: #fff;
    display: inline-block;
    width: 280px; }

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    margin: 10px 0; }
  .top_panel {
    padding: 25px 0; }
  header .header_card_row {
    padding: 0 15%; } }

@media (max-width: 991px) {
  header .header_card_row {
    padding: 0; } }
